body{
    background-image: url("https://img.webmd.com/dtmcms/live/webmd/consumer_assets/site_images/articles/health_tools/the_truth_about_processed_food_slideshow/1800ss_getty_rf_washing_spinach.jpg?resize=750px:*");
    background-attachment: fixed;
    background-size: cover;
    
}