.container{
    display: grid;
    border: 2px solid rgb(255, 255, 255);
    grid-template-columns: auto;
    width: 28vw;
    height: 60vh;
    margin-left: 8vw;
    margin-top: 10vh;
    padding-left: 3vw;
    padding-top: 8vh;
    padding-bottom: 5vh;
    padding-right: 5vh;
}
.input_form{
    height: 6vh;
    width: 100%;
    border: 1px solid white;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 2vh;
    font-size: 1rem;
    color: black;   
    background-color: white; 
}
.container a button{
    height: 6vh;
    width: 20vw;
    background-color: black;
    color: white;
    font-size: 1.1rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;    
    border: 1px solid grey;
    margin-top: 1vh;
    margin-left: 3vw;
    border-radius: 4vh;
}
.container a button:hover{
    background-color: white;
    color: black;
    cursor: pointer;
    border: 1px solid black;
       
}




/* responsive design using media queries */



@media screen and (max-width: 375px){
    
    .container{
        width: auto;
        border: none;
        justify-content: center;
        width: 100%;
        padding-left: 0vw;
        margin-left: 0vw;
        padding-right: 0vw;

    }
    .input_form{
        width: auto;
    }
    .container a button{
        width: 100%;
        margin-left: 0vw;
    }
}
@media screen and (max-width: 400px){
    nav{
        display: grid;
        
    }
    .body{
        background-image: url("fitness-1882721_1920_mobile.jpg");
    }
    .container a button{
        width: 100%;
        margin-left: 0vw;
    }
}






@media screen and (max-width: 436px){
    nav ul li a {
        width: auto;
    }
    .container a button{
        width: 100%;
        margin-left: 0vw;
    }
    .container{
        justify-content: center;
        width: 100%;
        border: none;
        padding-left: 0vw;
        margin-left: 0vw;
        padding-right: 0vw;
    }
}


@media screen and (max-width: 779px){
    .container{
        border: none;
        justify-content: center;
        width: 100%;
        padding-left: 0vw;
        margin-left: 0vw;
        padding-right: 0vw;
    }
    .input_form{
        width: auto;
    }
    .container a button{
        width: 100%;
        margin-left: 0vw;
    }
    
    
}